@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");

body {
  background-color: #ffedf2;
  color: rgba(0, 0, 0, 0.6);
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

a:hover{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}

.intro {
  border-radius: 5px;
  background-color: #fff9fb;
  margin: 20px auto;
  width: 100%;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  padding: 50px 0;
}
.intro img {
  width: 300px;
   border-radius: 5%
}

.about {
  border-radius: 5px;
  background-color: #fff9fb;
  margin: 20px auto;
  width: 100%;
  text-align: left;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  padding: 50px 0;
}

.about p {
  text-align: center;
}

.footer {
  border-radius: 5px;
  background-color: #fff9fb;
  margin: 20px auto;
  width: 100%;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  padding: 50px 0;
}


@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 700px;
    margin: 0 auto;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
  }
  .intro img {
    width: 100px;
  }
}
